@import url('https://fonts.googleapis.com/css2?family=Anton&family=Londrina+Outline&family=Merriweather:wght@400;700;900&family=Monofett&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Sigmar&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


html {
    scroll-behavior: smooth;
}

/* color pallete */

:root {
    --green: rgba(189, 198, 179, 0.702);
    --medium_green: #77917c89;
    --dark_green: #bdc6b3;
    --light_teal: #04565662;

}

/* reset default values from body */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--green);
    font-family: 'Montserrat', sans-serif;
}

/*navigation bar*/

nav {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: center;
}

/* logo */

.logo {
    margin: 1em 0 .5em 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: Anton;
    letter-spacing: .15rem;
}

/* hamburger lines */

.hamburger div {
    width: 30px;
    height: 3px;
    background: #101010;
    margin: 5px;
    transition: all 0.5s ease;
}

/* hamburger */

.hamburger {
    display: none;
}

/*navigation links list */

.nav-links {
    display: flex;
    list-style: none;
    padding: 0 1em;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

/* each navigation link */

.nav-links li a {
    padding: .5em;
    font-size: 1.1rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.896);
}

.nav-links li {
    position: relative;
}

/* navlinks underline */

.nav-links li a::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    transition: all ease-in-out 300ms;
    margin: 0 0 0 8%;
}

/* nav links hover animaton */

.nav-links li a:hover::after {
    width: 82%;
}

/*RESPONSIVE NAVBAR MENU STARTS for mobile view*/

@media screen and (max-width: 750px) {

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 1rem;
        top: 2.1rem;
        /* transform: translate(-5%, -50%); */
        transition: all 0.7s ease;
    }

    .nav-links {
        z-index: 10;
        background-color: var(--dark_green);
        position: absolute;
        flex-direction: column;
        height: 80vh;
        width: 100%;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    /* navbar animation on click */

    .nav-links.open {
        clip-path: circle(1000px at 100% -20%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    li.fade {
        opacity: 1;
    }

}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* scrolling line */

.scrolling-line {
    width: 100%;
    height: 20px;
    background-color: white;
    overflow: hidden;
    white-space: nowrap;
}

/* scrolling line animation */

.scrolling-line .scrolling {
    position: relative;
    -webkit-animation: scroll 50s infinite linear;
    -moz-animation: scroll 50s infinite linear;
    -o-animation: scroll 50s infinite linear;
    animation: scroll 15s infinite linear;
}

@keyframes scroll {
    0% {
        left: 0px;
    }

    100% {
        left: -1000px;
    }
}

@-webkit-keyframes scroll {
    0% {
        left: 0px;
    }

    100% {
        left: -1000px;
    }
}

/* Home page */

.home {
    margin-top: 1em;
    width: 100%;
    overflow: hidden;
}

#text {
    font-size: 7em;
}

.text1,
.text3 {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.text2,
.text4 {
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--medium_green);
}

/* Responsive text of homepage */

@media only screen and (max-width: 750px) {
    #text {
        font-size: 4.5em;
    }
}

/* all sections after home */

.scrollAnim {
    height: 100vh;
    width: 100%;
    opacity: 0;
    transition: 0.8s;
    display: flex;
}

/* all even sections */

.scrollAnim:nth-child(even) {
    background: var(--light_teal);
}

/* .about {}



.work {}

.projects {}

.contact {} */

.about .content {
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.about .main {

    display: flex;
    align-items: center;
    padding: 8% 10% 0 10%;
}

.about img {
    max-width: 100%;
    width: 30em;
    height: auto;
    padding: 0 6em;
    transition: all 0.8s;
    transition-delay: 0.05s;
}

.about h3 {
    font-size: 2em;
}

.about .all-text {
    width: 60em;
    max-width: 100%;
    padding: 0 2em;
    transition: all 0.8s;
    transition-delay: 0.05s;

}

/* animantion on scroll */

.scrollAnim.anim {
    opacity: 1;
}

.scrollAnim h2 {
    display: block;
    font-size: 4em;
    font-weight: bold;
    margin: 0;
    line-height: 1.2em;
    transition: all 0.8s;
    font-family: "Anton", sans-serif;
    transition-delay: 0.05s;
}


.anim-top {
    transform: translate(0, 500px);
}

.anim-left {
    transform: translate(-150px, 0);
}

.anim-right {
    transform: translate(520px, 0px);
}


.anim .anim-top {
    transform: translate(0, 0);
}

.anim .anim-left {
    transform: translate(0, 0);
}

.anim .anim-right {
    transform: translate(0, 0);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width:900px) {
    .about img {
        position: absolute;
        z-index: -1;
        opacity: 0.7;

    }
}

/* stripe animation */

.stripe {
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

section .scroll {
    width: 100%;
    display: flex;
}

section .scroll div {
    background-color: #fff;
    color: #000;
    font-size: 4em;
    font-weight: 900;
    white-space: nowrap;
    text-transform: uppercase;
    animation: animate 40s linear infinite;
    animation-delay: -40s;
}

section .scroll div:nth-child(2) {
    animation: animate2 40s linear infinite;
    animation-delay: -20s;
}

section .scroll div span {
    -webkit-text-stroke: 2px #000;
    color: transparent;
}

@keyframes animate {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
}

section .scroll.txt1 {
    transform: rotate(50deg) translateY(200px) translateX(200px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

section .scroll.txt2 {
    transform: rotate(-25deg) translateY(120px) translateX(-200px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

section .scroll.txt3 {
    transform: rotate(70deg) translateY(300px) translateX(-200px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

section .scroll.txt4 {
    transform: rotate(-35deg) translateY(-150px) translateX(-200px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

section .scroll.txt5 {
    transform: rotate(15deg) translateY(250px) translateX(-200px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* back to top button */

#dummy {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back {
    font-size: 1.5em;
    cursor: pointer;
}

/* @media only screen and (max-width: 400px) {
    #back {
        font-size: 0.8em;
    }
} */